# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# copied from Angular seed
logs/*
!.gitkeep
node_modules/
/public/bower_components/
tmp
.DS_Store


