# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
TODO.md
# copied from Angular seed
logs/*
!.gitkeep
/test
node_modules/
/public/bower_components/
/public/data/
/views/index.*
tmp
.DS_Store



