<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- @if NODE_ENV='development' -->
    <title>DEV</title>
    <!-- @endif -->
    <!-- @if NODE_ENV='production' -->
    <title>PROD</title>
    <!-- @endif -->
</head>
<body>
<p>TESTejs</p>
</body>
</html>