<div class="row">
    <form name="myForm">
        <button type="button" class="btn btn-primary" ng-click="updategateways()">Update CO Gateways</button>
        <label class="checkbox-inline"><input type="checkbox" ng-model="gateway.SDREPVPN">SD-REPVPN</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="gateway.WALREPVPN">WAL-REPVPN</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="gateway.MALREPVPN">MAL-REPVPN</label>
    </form>
</div>
<div class="row">
    {{response}}
</div>

<!--
<hr>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <button type="button" class="btn btn-danger" ng-click="">Reset Certificate</button>
            <select name=cert" ng-model="cert">
                <option selected value="SIC">SIC</option>
                <option value="VPN">VPN</option>
            </select>
            <input type="text" ng-model="Name" class="form-control" placeholder="ROBOName" size="21">
        </div>
    </form>
</div>
<hr>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="">SamrtPro addROBO</button>
            <label for="hostname">Hostname</label>
            <input type="text" ng-model="hostname" class="form-control" id="hostname" size="21"
                   placeholder="ROBOName">
            <button class="btn btn-default btn-circle" bs-popover="popover">?</button>

            <label for="subnet">Subnet</label>
            <input type="text" ng-model="subnet" class="form-control" id="subnet" size="6"
                   placeholder="Subnet" required ng-pattern="/^(?:[0-9]{1,3}\.){3}$/">

            <p class="help-block">i.e. 10.2.3. (3 bytes ending with dot)</p>
        </div>
    </form>
</div>
-->