<div class="row">
    <form name="myForm">
        <button click-once type="button" class="btn btn-primary" ng-click="updategateways()">Update CO Gateways</button>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="gateway.SDREPVPN"
                   ng-true-value="'SD-REPVPN'" ng-false-value=false>SD-REPVPN</label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="gateway.WALREPVPN"
                   ng-true-value="'WAL-REPVPN'" ng-false-value=false>WAL-REPVPN</label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="gateway.MALREPVPN"
                   ng-true-value="'MAL-REPVPN'" ng-false-value=false>MAL-REPVPN</label>
    </form>
</div>
<div class="row-fixed-height">
    <p ng-bind-html="responseCO"></p>
</div>
<hr>
<div class="row">
    <form name="AddROBOForm" novalidate class="form-inline">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="addrobo()"
                    ng-disabled="AddROBOForm.$invalid">Add ROBO Gateway</button>
            <!--label for="hostname">Hostname</label-->
            <input type="text" ng-model="hostname" class="form-control" id="hostname" size="21"
                   placeholder="ROBOName" required ng-pattern="/^[a-zA-Z]{6,}[0-9]{6,}$/">
            <!--button class="btn btn-default btn-circle" bs-popover="popover">?</button-->

            <!--label for="subnet">Subnet</label-->
            <input type="text" ng-model="subnet" class="form-control" id="subnet" size="6"
                   placeholder="Subnet" required ng-pattern="/^(?:[0-9]{1,3}\.){3}$/">

            <p class="help-block">i.e. 10.2.3. (3 bytes ending with dot)</p>
        </div>
    </form>
</div>
<div class="row-fixed-height">
    <p ng-bind-html="responseAddROBO"></p>
</div>

